sentence-transformers>=5.1.0
torch
transformers>=4.55.0
huggingface-hub>=0.34.0


langchain
langchain-community
langchain-huggingface
langchain-google-genai
flask
pypdf
python-dotenv
pinecone
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental 
langchain-core
huggingface-hub

